.footer {
  border-bottom: 1px solid #797979;
  position: sticky;
  z-index: 0;
  overflow: hidden;
}

.footer .form {
  border-bottom: 1px solid #797979;
}

.footer label {
  display: none;
}

.footer .mail::placeholder {
  color: white;
}

.folklore .text {
  font-size: 120px;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("./Footer Video-poster-00001.jpg");
  animation: bg-animation 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes bg-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

// ----------------

@media screen and (max-width: 1024px) {
  .footerT,
  .footerB {
    flex-direction: column;
  }
  .footerT form {
    width: 100%;
  }
  .footerB .text-gray-500,
  .folklore {
    width: 100%;
    text-align: center;
  }
  .gap-96 {
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .folklore .text {
    font-size: 70px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .folklore .text {
    font-size: 50px;
  }
}
