.navigation .rond {
  border-radius: 50%;
  border: 1px solid rgb(57, 221, 232);
}

.navigation .bgc-rond {
  border-radius: 50%;
}

.navigation .bgc-rond:hover {
  animation: rond 0.5s;
  background-color: rgb(57, 221, 232);
}

@keyframes rond {
  from {
    background-color: rgb(57, 221, 232);
    scale: 0.75;
  }
  to {
    background-color: rgb(57, 221, 232);
    scale: 1;
  }
}

// -----------------

@media screen and (max-width: 1024px) {
  .pt-40 .titre {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .pt-40 .titre {
    font-size: 50px;
  }
}

@media screen and (max-width: 652px) {
  .pt-40 .titre {
    margin-top: 35px;
  }
}

@media screen and (max-width: 582px) {
  .pt-40 .titre {
    font-size: 40px;
  }
  .home .image {
    width: 200px;
    height: 250px;
  }
}

@media screen and (max-width: 582px) {
  .pt-40 .titre {
    font-size: 40px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 425px) {
  .pt-40 .titre {
    font-size: 40px;
  }
  .home .image {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 250px;
  }
  .navigation .mt-1 img {
    width: 75px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 375px) {
  .pt-40 .titre {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: -50px;
  }
  .home .image {
    display: none;
  }
  .touch {
    display: none;
  }
  .navigation .mt-1 img {
    position: absolute;
    left: 220px;
  }
}

@media screen and (max-width: 320px) {
  .navigation .mt-1 img {
    position: absolute;
    left: 200px;
  }
}
