.subscribe {
  background-color: #45e0ed;
  position: relative;
  top: 0;
  z-index: 11;
}

.subscribe .form {
  border-bottom: 1px solid #797979;
}

.subscribe label {
  display: none;
}

.subscribe .mail {
  background-color: #45e0ed;
}

.subscribe .mail::placeholder {
  color: #000;
}

// ----------

@media screen and (max-width: 1024px) {
  .subscribe {
    flex-direction: column;
  }
  .subscribe .titre {
    width: 100%;
    text-align: center;
  }
  .subscribe .mt-96 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .subscribe .titre h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 425px) {
  .subscribe {
    padding: 20px;
  }
  .subscribe .titre h1 {
    font-size: 50px;
  }
  .subscribe .mt-96 p {
    font-size: 20px;
  }
}
