.support {
  position: relative;
  top: 0;
  z-index: 9;
}

.support h1 {
  font-weight: 700;
}

.support .marge {
  font-size: 25px;
  margin: auto 25%;
}

.support p {
  padding-bottom: 50px;
}

.support .text-l {
  font-size: 50px;
  margin-top: -50px;
  text-align: center;
}

.support .center {
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .support .text-l {
    font-size: 30px;
  }
  .support .marge {
    font-size: 18px;
    margin: auto 15%;
  }
}

@media screen and (max-width: 582px) {
  .support .text-l {
    margin-top: -30px;
  }
}

@media screen and (max-width: 375px) {
  .support .text-l {
    margin-top: 70px;
  }
  .row_1 img {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 375px) {
  .support .text-l {
    margin-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .support .row_3 img {
    width: 250px;
  }
}
