* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 1700px !important;
  background: #c7c7c7;
}
